

/* whithout Internet is hard !  */

  div {
    width: 600px;
    heigth: 600px;
    border: 2px solid grey;
    border: 2px solid;
    margin-bottom: 20px;

  }
  #test01{
    background-color: #FF5EA2
  }


  #test02{
    background-image: red-fox.jfif
  }
