#relativesDIV {
  width: 400px;
  height: 400px;
  background-color: grey;
  position: relative;   /* so ungefähr kann man sagen ! */
  top: 150px;    /*  verschiebung des blocks Grau !  */
  left: 200px;   /*  verschiebung des blocks Grau !  Links aus ! */
}

#absolutesDIV {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;        /* fixe position */
  top: 150px;   /* von oben soll es 100 Pixel verschoben werden ! */
  right: 300px;
}

span {
  position: relative;
  top: 20px;
  left: 20px;
}

b {
  position: absolute;
  top: 20px;
  left: 20px;
}
