  div {
    width: 400px;
    height: 400px;
    background-color: red;
    margin-bottom: 2rem;
  }

  #test {
    border: 10px solid grey;
    outline: 100px solid blue;
  }

  /* eine outline wird einfach um die Border gezogen  */

/* otuline wird einfach darum herum gemalt und kann damit auch sachen überdecken  */
