  video {
    width: 40%;
    height: auto;
  }


  #video1 {
    width: 100px;
    height:300px

  }



  #video2 {
    width: 40%;
    height: auto;

  }


  #video3 {
    float: both;
    width: 50%;
    height:auto;
  }


  #video4 {
    width: 50%;
    height:30%;
  }
