@font-face {
  font-family: "Spectral";
  src: url(spectral-regular.ttf) format("truetype"),
       url(spectral-regular.woff2)  format("woff2");
       font-style: normal;    /* italic = kursiv schräg gedruckt  -  oder oblique =  auch ähnlich wie italic  */
       font-weight: normal;    /* es gibt Bold = Fett gedruckt   = Werte Bereich von 100 bis 900    -  Wert 400 = entspricht Normal   -   Wert 700 = entspricht Bold  */
}

@font-face {
  font-family: "Spectral ";
  src: url(spectral-bold.woff2)  format("woff2");
  font-style: normal;
  font-weight: bold;
    }


@font-face {
  font-family: "Spectral ";
  src: url(spectral-italic.woff2)  format("woff2");
  font-style: italic;
  font-weight: normal;
}

body {
      font-family: "Spectral";
      font-style: italic;
      font-weight: bold;
    }




/* andere Version: opentype  */
/* woff2 ist für = Firefox  und chrom  */
