html {
  font-size: 16px;   /*  standart schrift grösse im browser */
}

    /**** Farben ***/

    /*
    Blau:            #1F4EBC
    Dunkel Grau:     #303F45
    Hell Grau:       #E5E5E5
    Rot:             #A62C21

    */

  body {
    margin: 0;
    font-family: 'Lato','Raleway',' Helvetica Neue', 'Arial ', sans-serif;
    font-size: 16px;

    }

    * {
      box-sizing: border-box;
    }


  /*  ===  Navigationsleiste === */


  .header-nav {
    width: 100%;
    height: 50px;
    background-color: #303F45;
  }


  .header-nav > img {
    height: 50px;
    weight: auto;
    position: absolute;
    left: 2rem;
    top: .55rem;
  }
